<script src="https://cdn.bootcss.com/barba.js/1.0.0/barba.min.js"></script>
<script>
    // var Homepage = Barba.BaseView.extend({
    //     namespace: 'home',
    //     onEnter: function () {
    //         // The new Container is ready and attached to the DOM.
    //     },
    //     onEnterCompleted: function () {
            
    //     },
    //     onLeave: function () {
    //         // A new Transition toward a new page has just started.
    //     },
    //     onLeaveCompleted: function () {
    //         // The Container has just been removed from the DOM.
    //     }
    // });
    // Homepage.init();
    var Blogpost = Barba.BaseView.extend({
        namespace: 'post',
        onEnterCompleted: function (){
            window.scrollTo(0,0);
        }
    })
    Blogpost.init();
    Barba.Pjax.init();
    Barba.Prefetch.init();
    Barba.Dispatcher.on('transitionCompleted', function () {
        window.mdc.autoInit();
        main.installMenu('#kmdc-menu','#kmdc-menu-button');
    });
    Barba.Dispatcher.on('newPageReady', function (a,b,c,d) {
        c.classList.add("move");
    });
    var FadeTransition = Barba.BaseTransition.extend({
        start: function () {
            Promise
                .all([this.newContainerLoading, this.fadeOut()])
                .then(this.fadeIn.bind(this));
        },

        fadeOut: function () {
            var el = this.oldContainer;
            el.classList.add("move");
            return new Promise(function(resolve, reject) {
                    setTimeout(resolve, 500, 'foo');
            });
        },

        fadeIn: function () {
            this.done();
            var el = this.newContainer;
            el.classList.remove("move");
        }
    });

    Barba.Pjax.getTransition = function () {
        return FadeTransition;
    };
</script>