body{
    margin: 0;
}
main{
    padding-top: 0;
    transition: all 500ms;
    @media (max-width: 839px) and (min-width: 480px){
        padding-top: 80px;
    }
    @media (min-width: 840px){
        padding-top: 180px;
    }

}