{% comment %} 多语言 {% endcomment %}
{% if site.language != "" or site.language != null %}
{% assign lang = site.data.lang[site.language] %}
{% endif %}

{% comment %} 输出文章列表 {% endcomment %}
{% for post in paginator.posts %}

{% comment %} 判断是否有thumbnail {% endcomment %}
{% if post.thumbnail == "" or post.thumbnail == null %}
{% assign thumbnailStatus = true  %}
{% else %}
{% assign thumbnailStatus = false  %}
{% endif %}

<div class="mdc-card kmdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <a href="{{post.url | prepend: site.baseurl}}" class="mdc-card__media mdc-card__media--square kmdc-card__media mdc-ripple-surface {% if thumbnailStatus %} mdc-theme--primary-bg mdc-theme--text-primary-on-primary{% endif %}" data-mdc-auto-init="MDCRipple"  style="background-image: url({{post.thumbnail}});">
        <div class="mdc-card__media-content kmdc-card__media-content--title">

            {% if thumbnailStatus %}
            <div class="kmdc-card__media-only-title">
                    <p class="mdc-typography--title">{{post.title}}</p>
            </div>
            {% else %}
            <div class="kmdc-card__media-title mdc-typography--title">
                    {{post.title}}
            </div>
            {% endif %}

        </div>
    </a>
    <div class="kmdc-card__secondary mdc-typography--body1"><span>{{ post.excerpt | strip_html}}</span></div>
    <hr class="mdc-list-divider">
    <div class="kmdc-card__meta">
        <div class="kmdc-card__meta-avatar" style="background-image: url(https://ooo.0o0.ooo/2017/05/26/5928368d409dd.png);"></div>
        <div class="kmdc-card__meta-text">
            <strong>KeJun</strong>
            <span class="mdc-typography--body1">Jul 24, 2017</span>
        </div>
    </div>
</div>

{% endfor %}