<div class="mdc-card kmdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <a href="#!" class="mdc-card__media mdc-card__media--square kmdc-card__media" style="background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);">
        <div class="mdc-card__media-content kmdc-card__media-content--title">
            <div class="kmdc-card__media-title mdc-typography--title">
                Vacation Photos
            </div>
        </div>
    </a>
    <div class="kmdc-card__secondary mdc-typography--body1"><span>Favorable business conditions have allowed startups to secure more fundraising deals compared to last year.</span></div>
    <hr class="mdc-list-divider">
    <div class="kmdc-card__meta">
        <div class="kmdc-card__meta-avatar" style="background-image: url(https://ooo.0o0.ooo/2017/05/26/5928368d409dd.png);"></div>
        <div class="kmdc-card__meta-text">
            <strong>KeJun</strong>
            <span class="mdc-typography--body1">Jul 24, 2017</span>
        </div>
    </div>
</div>